<? require(ViewDir.'/header.html'); ?>
<div class="brand-details f-clearfix">
    <div class="w1180">
        <div class="fl fl-details">
            <p class="fl-details-tit"><a href="" target="_blank">服装鞋帽</a> &gt;商标详情</p>
            <div class="brde-pic">
                <div class="brde-pic-box">
                    <a class="sell">打包<br/>出售<i></i></a>
                    <span>
                            <img src="images/pic3.jpg" alt="">
                    </span>

                    <a class="id">商品ID：13562129</a>
                </div>
                <p>
                    <span>独家商标风险检测工具<label>蝉精灵</label>准确率<label>95.93%</label></span>
                    <a href="" target="_blank">检测此商标</a>
                </p>
            </div>
            <div class="brde-scfx">
                <p class="fl">
                    <a class="collect in_collect"> <img src="images/sbxq-ico1.png"><span>收藏商标</span></a>
                </p>
                <p class="fr">
                    <a href="javascript:;" class="jiathis jiathis_txt" > <img src="images/sbxq-ico2.png">分享</a>
                </p>
            </div>
        </div>
        <div class="fr fr-details">
            <h3>
                <span title="嫚嫚">嫚嫚</span>
                <span title="服装鞋帽" class="light_title">(25类 服装鞋帽)</span>              </h3>
            <label class="bm">嫚嫚词义柔美的样子,司马相如有 《上林赋》：“柔桡嫚嫚，妩媚纤弱”，形容美好女子的姿态音容笑貌。该商标，字形字音都秀气优雅，用作女装，非常适合。</label>
                        <span class="o-reg-lg">
                 <a>已注册</a>
            </span>
            <div class="classify">
                <ul class="mj-cTr_center">
                    <li>
                        <label>经营范围：</label><font>上衣，服装，裙子，羽绒服装，套服，内衣，婴儿裤（服装），婴儿全套衣，手套（服装）</font>
                    </li>
                    <li>
                        <label>此商标可入驻：</label>
                        <p class="may">
                                <a href=""  target="_blank" class="cur">京东</a><a href=""  target="_blank" class="cur on">天猫</a>
                                <a href=""  target="_blank" class="cur">大型超市</a><a href="" class="cur">1号店</a>
                                <a href=""target="_blank" class="cur">美丽说</a>
                                <a href=""  target="_blank" class="cur">聚美优品</a>

                        </p>
                    </li>
                </ul>
                <p class="mj-cTr-tp f-clearfix f-hidden">
                    价格<label>￥<b>25000</b></label>元   <em>原价：150000</em> <em>买一送一</em><em>热门商标</em><em>特价商标</em>
                </p>
                <p class="mj-cTr-ts f-clearfix f-hidden">
                    温馨提示：80%卖家标注都是弹性出售价格-有较大的商谈空间
                </p>

            </div>
            <div class="zx-sqr">
                <p class="pro fl" title="许飞"><img src="images/pel-ico.png">
                    <label>沃优企业管理责任...</label>
                    <a href="javascript:;" webid="31" onclick="goChat()" addmsg="咨询-咨询ta" module="咨询ta">咨询TA</a></p>
                <div class="pel fl">
                    <p class="tel">
                        <img src="images/tel.png"><b>15811378137</b>
                    </p>
                    <a href="javascript:;" class="mj-cTr-tpBtn" webid="30" onclick="createOrder();" class="opt_btn"><img src="images/shop-ico.png">我有兴趣</a>
                </div>
            </div>

            <div style="padding-top:50px;display: none;">
                <img src="images/nogoods.png">
            </div>
        </div>
    </div>
</div>

<div class="w1180 details-main" style="padding-top: 25px;">
<div class="intr-flow fr">
    <div class="intr-flow-tit">
        <ul>
            <li>
                <a href="#sbjj" class="on">商标介绍</a>
            </li>
            <li>
                <a href="#jylc" class="">交易流程</a>
            </li>
            <li style="border-right:none; ">
                <a href="#jcwt" class="">常见问题</a>
            </li>
        </ul>
    </div>
    <div class="detail-recom-main f-clearfix">
        <div class="detail-recom-trademark">
            <div style="text-align:center;">
                <img src="images/pic2.jpg" alt=""><br>
            </div>            </div>
        <div class="transaction f-clearfix">
            <h4 class="trans-tit"><b>一只蝉</b>独家交易体系  <span>七道工序，只为交易更安全 </span></h4>
            <!--pc版本-->
            <ul class="trans-jytx pc-trans-jytx">
                <li>
                    <div class="trans-pic">
                         <span>
                              <img src="images/jytx-ico1.png">

                         </span>
                        1 风险检测
                    </div>
                    <div class="cover">
                        <i class="arrow-up"></i>
                        <p>
                            独家商标风险检测报告，<br>保障商标状态安全
                        </p>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li>
                    <div class="trans-pic">
                         <span>
                               <img src="images/jytx-ico2.png">
                         </span>
                        2 价格评估
                    </div>
                    <div class="cover">
                        <i class="arrow-up"></i>
                        <p>
                            19项价格评估体系，<br>杜绝漫天要价！
                        </p>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li class="lht">
                    <div class="trans-pic">
                         <span>
                               <img src="images/jytx-ico3.png">
                         </span>
                        3 匹配商标
                    </div>
                    <div class="cover">
                        <i class="arrow-up"></i>
                        <p>
                            根据要求帮您匹配合适的商标。
                        </p>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li>
                    <div class="trans-pic">
                         <span>
                               <img src="images/jytx-ico4.png">
                         </span>
                        4 签订协议
                    </div>
                    <div class="cover">
                        <i class="arrow-up"></i>
                        <p>
                            签《100%赔付协议》获“独占使用许可”
                        </p>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li>
                    <div class="trans-pic">
                         <span>
                               <img src="images/jytx-ico5.png">
                         </span>
                        5 转让公证
                    </div>
                    <div class="cover">
                        <i class="arrow-up"></i>
                        <p>
                            一只蝉与政府双线双审核
                        </p>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li class="lht">
                    <div class="trans-pic">
                         <span>
                               <img src="images/jytx-ico6.png">
                         </span>
                        6 上报商标局
                    </div>
                    <div class="cover">
                        <i class="arrow-up"></i>
                        <p>
                            集团制度保障，<br>
                            所有业务当天上报！
                        </p>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li>
                    <div class="trans-pic">
                         <span>
                               <img src="images/jytx-ico7.png">
                         </span>
                        7 转让完成
                    </div>
                    <div class="cover">
                        <i class="arrow-up"></i>
                        <p>
                            商标局核准，<br>
                            获得《商标转让核准证明》
                        </p>
                    </div>
                </li>
            </ul>
            <!--wap版本-->
            <ul class="trans-jytx wap-trans-jytx">
                <li>
                    <div class="trans-pic">
                         <span>
                               检测
                         </span>

                    </div>

                </li>
                <li class="trans-jytx-jt">

                </li>
                <li>
                    <div class="trans-pic">
                                <span>评估</span>
                    </div>

                </li>
                <li class="trans-jytx-jt">

                </li>
                <li class="lht">
                    <div class="trans-pic">
                             <span>匹配</span>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li>
                    <div class="trans-pic">
                            <span>签订</span>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li>
                    <div class="trans-pic">
                           <span>转让</span>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li class="lht">
                    <div class="trans-pic">
                       <span>上报</span>
                    </div>
                </li>
                <li class="trans-jytx-jt">

                </li>
                <li>
                    <div class="trans-pic">
                       <span>转让</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tran-FAQ f-clearfix">
            <h4>常见问题解疑</h4>
            <ul>
                <li>
                    <b>如何尽快找到想要的标？</b>
                    <p>
                        14年代理资源 30家合作机构<br>
                        30万闲置在售 21种筛选方法<br>
                    </p>
                </li>
                <li>
                    <b>付款后，卖家跑了/不卖了咋办？</b>
                    <p>
                        全国独家签订《损失100%赔付协议》
                        交易损失，24小时全额赔付<br>
                    </p>
                </li>
                <li>
                    <b>买的商标什么时候可以用？</b>
                    <p>
                        签订《独占许可协议》<br>
                        今天选中，明天就用
                        <a>
                            如何做到？

                        </a><br>

                    </p>
                    <div class="cover">
                        <i class="arrow-up"></i>
                        <label>
                            一只蝉督促双方签订《独占许可协议》，签完立<br>
                            即对外使用，无需等8-10个月转让流程。
                        </label>
                    </div>
                </li>
                <li>
                    <b>需要准备哪些资料？</b>
                    <p>
                        只需提供身份证或营业执照<br>
                        剩下的资料我们帮你准备<br>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="detail-recom fl">
    <h2>猜你喜欢</h2>
    <ul class="recompic">

        <li>
            <a href="" ><img src="images/pic1.jpg"></a>
        </li>
        <li>
            <a href=""><img src="images/pic1.jpg"></a>
        </li>
        <li>
            <a href=""><img src="images/pic1.jpg"></a>
        </li>
    </ul>
</div>
</div>
<!--移动版的底部-->
<div class="wap-btm">
   <div  class="wap-btm-main">
       <div class="wap-btm-lf">
           <p class="btm-lf-price">
               <label><b>5000</b>元</label>原价：<s>￥38000</s>
           </p>
           <p class="btm-lf-intr">温馨提示：80%卖家标注都是弹性出售价格-有较大的商谈空间</p>
       </div>
       <div class="wap-btm-rg">
           <p>
               <a href="" class="btm-lf-tel">
                   <span><img src="images/btm-tel1.png"></span>
                   <label>咨询</label>
               </a>
               <a href="" class="btm-rg-zx">
                   <span><img src="images/btm-tel2.png"></span>
                   <label>兴趣</label>
               </a>
           </p>
       </div>
   </div>
</div>
<script type="text/javascript">
    //滚动事件
    var qtp=$(".tran-FAQ").offset().top
    $(window).scroll(function(){
        if($('.tran-FAQ').offset().top-$(document).scrollTop()<=88){
            $(".intr-flow-tit").addClass("f-tp");
            $(".intr-flow-tit a").removeClass("on");
            $(".intr-flow-tit a").eq(2).addClass("on");
            $(".wap-btm").show();
        }
        else if($('.transaction').offset().top-$(document).scrollTop()<=78){
            $(".intr-flow-tit").addClass("f-tp");
            $(".intr-flow-tit a").removeClass("on");
            $(".intr-flow-tit a").eq(1).addClass("on");
            $(".wap-btm").show();
        }else if($(".intr-flow").offset().top-$(document).scrollTop()<=0){
            $(".intr-flow-tit").addClass("f-tp");
            $(".intr-flow-tit a").removeClass("on");
            $(".intr-flow-tit a").eq(0).addClass("on");
            $(".wap-btm").show();
        } else{
            $(".intr-flow-tit").removeClass("f-tp");
            $(".intr-flow-tit a").removeClass("on");
            $(".intr-flow-tit a").eq(0).addClass("on");
            $(".wap-btm").hide();
        }
    })
    //点击选项卡事件
    $(".intr-flow-tit a").eq(0).click(function(){
        var t=$(".intr-flow").offset().top-48;
        $("html, body").animate({"scrollTop":t});
    })
    $(".intr-flow-tit a").eq(1).click(function(){
        var t=$(".transaction").offset().top-88;
        $("html, body").animate({"scrollTop":t});
    })
    $(".intr-flow-tit a").eq(2).click(function(){
        var t=$(".tran-FAQ").offset().top-68;
        $("html, body").animate({"scrollTop":t});
    })
    //手机触屏变背景色
    $(".trans-jytx li span").click(function(){
        $(this).css({"backgroundImage":"url('images/jytx-bg2.png')"})
    })
    var clik=1;
    $(".tran-FAQ ul li p a").click(function(){
        clik++;
        if(clik==2){
            $(".tran-FAQ ul li .cover").css({"display":"inline-block"})
        }
        else{
            $(".tran-FAQ ul li .cover").css({"display":"none"})
            clik=1;
        }
    })

    $(".hot-xin").click(function(){
        clik++;
        if(clik==2){
            $(this).css({"backgroundImage":"url('images/xin_cur.png')"})
        }
        else{
            $(this).css({"backgroundImage":"url('images/wap-head1.png')"})
            clik=1;
        }

    })
</script>
<? require(ViewDir.'/footer.html'); ?>